.component-wrapper {

  border: 1px solid #f7f7f7;
  padding: 12px;
  border-radius: 3px;
  background-color: #f7f7f7;
  cursor: pointer;
  margin-bottom: 12px;
  &:hover {
    border-color: #d9d9d9;
  }

}

.group-wrapper {
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}


.shield-layer {
  pointer-events: none;
}